ConfigDumpInfo.xml

*.7z
*.cf
*.dt
*.exe
*.lnk
*.orig

*Err.txt
*Log.txt
renames.txt

.env
.scannerwork
.vscode

cmt-push.bat
pull.bat

distr
epfversion
fileversion
out

allure-report/
build
build/
/build/local_build/*
lib/TemplateEpf/Temp/*.txt

/tool/*
/tools/*
tools/Allure/
tools/CompareFiles/
tools/Cucumber/
tools/HTML/
tools/Markdown/
tools/ScreenShots/
tools/ScreenShotsTest/
tools/ServiceBases/ScreenShots/
tools/ServiceBases/cucumber/
tools/ServiceBases/junitreport/
tools/ServiceBases/v83ServiceBase*/
tools/Video/
tools/VideoTemp1/
tools/VideoTemp/
tools/VideoTools/FrameShow.exe
tools/VideoTools/KeyboardType.exe
tools/VideoTools/MouseMove.exe
tools/allure-report
tools/jUnit/

temp
